@font-face {
    font-family: 'Figtree Medium';
    src: url('../fonts/Figtree/Figtree-Medium.ttf') format('truetype');
}

:root {
	--mobylmenu-font: 'Figtree Medium';
}

.navigation-container {
    z-index: 20;
    height: 5rem;
    width: 100%;
    position: fixed;
    background-color: white;
}

.navigation-header-container {
	height: 3rem;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-right: 20px;
	border-bottom:0.5px solid #39424A;
}

.navigation-logo-container {
	display: flex;
	align-items: center;
	margin-left: 25px;
	font-weight: bold;
	color: #00a6ff;
}

.navigation-m-logo {
    width: 35px;
	height: 35px;
	border-radius: 5px;
}

.logo-text {
    color: var(--main-color);
    font-family: var(--mobylmenu-font);
}

.logout-button {
    color: var(--main-color);
    font-weight: 600;
    font-family: var(--mobylmenu-font);
}

.breadcrumb-container {
    display: flex;
    height: 2rem;
    flex: 1;
    align-items: center;
    padding-left: 1rem;
}

.breadcrumb-link {
    color: var(--main-color);
}

.active-breadcrumb {
    font-family: var(--secondary-font);
    color: black;
}

.breadcrumb {
    display: flex;
    align-items: center;
}

.breadcrumb-separator {
    color: var(--main-color);
    font-family: var(--secondary-font);
    margin-left: .5rem;
    margin-right: .5rem;
    height: 12px;
}

.header-spacer {
    width: 100%; /* Full screen width */
    height: 5rem; /* Matches the height of the Header */
    background-color: transparent; /* No background color, acts purely as spacing */
}
